
.container_Bill{}
.container_Bill_inner{}
.container_Bill_inner-title{
    display: flex;
    justify-content: center;

}
.container_Bill_inner-title-food{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;

}
.container_Bill_inner-title-food1{
    margin-left: 335px;
}
.container_Bill_id{
    margin: 5px;
}
.container_Bill_status{
    margin: 5px;

}
.container_Bill_buyer{
    margin: 5px;

}
.container_Bill_food{

}
.container_Bill_food-inner{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}
.container_Bill_food-img{
    width: 150px;
    height: 150px;
}
.container_Bill_food-name{}
.container_Bill_food-price{}
.container_Bill_food-quantity{}
.container_Bill_btn{
    text-align: end;
}







.auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-input {
    padding: 5px;
    width: 150px;
    border-radius: 5px;
}

.auth-button {
    padding: 5px 10px;
    background-color: #899689;
    color: white;
    border: none;
    border-radius: 5px;
}

.auth-button-container :hover > .auth-button{
    cursor: pointer;
    background-color: #198619;

}
.login-container{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.login-container > div {
    margin-left: 5px;
    margin-top: 5px;
}

.container_inner-acc::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16.5px;
    background-color: rgb(248, 238, 238);
    right: 61px;
    top: 20%;
}
.btn-logout{
    border: none;
    background-color: #d5654f;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    border-radius: 5px;

}

.btn-logout:hover{
    border: none;
    background-color: #101010;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}